body{
    margin: 0;
    padding: 0;
    background: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu{
    position: fixed;
    width: 100%;
    background-color: lightgray;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img{
    height: 50px;
    
}

.menu-main ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.menu-main ul li {
    list-style: none;
    padding-left: 200px;
}

.menu-main ul li:hover{
    color:red;
    text-decoration: underline;
}
.social img{
    height: 50px;
}

.shoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 712px;
}
.shoe{
    margin-top: 100px;
    text-align: center;
    border:0px solid;
    border-radius: 20px;
    width: 200px;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.5);
    background-color: white;
    transition: transform ease 0.5s;
}
.shoe:hover{
    
    transform: scale(1.1);
    
}
.shoe a{
    font-size: 20px;
}

.shoe:hover p{
    color: purple;
    text-decoration: underline;
}
.shoe img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
}

.shoe h1{
    font-size: 20px;
}

.shoe p{
    font-weight: bold;
}


footer{
    text-align: center;
    background-color: white;
    bottom: 0;
    position: relative;
    height: 25px;
}
footer p{
    color: gray;
}